:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --green-50: #9ba894;
  --brown-50: #c88763;
  --blue-50: #81b3d2;
  --blue-100: #669ec0;
  --blue-120: #7aa8cb;
  --blue-150: #5496bd;
  --brown-50: #766357;
  --brown-100: #604e43;
  --brown-150: #503e33;
  --grey-50: #f2f2f2;
  --grey-100: #ebebeb;
  --grey-120: #eeeeee;
  --grey-150: #e5e5e5;
  --grey-200: #cacaca;
  --grey-220: #e9e5dc;
  --grey-250: #ababab;
  --grey-270: #bdbbbc;
  --grey-300: rgba(171, 171, 171, 0.3);
  --grey-350: #a9a9a9;
  --grey-380: #888888;
  --grey-400: #666666;
  --grey-450: #6a6a6a;
  --grey-500: #333333;
  --grey-550: #231f20;
  --grey-600: rgba(0, 1, 1, 0.15);
}

.page {
  height: 100%;
}
.page-body {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--grey-500);
  text-transform: uppercase;
  background-color: var(--grey-50);
}

.page-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header */
.navigation-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.navigation-item a:hover {
  color: var(--blue-50);
}

.navigation-item a:active {
  color: var(--transparent-black);
}

.navigation-item .active,
.navigation-item .active:hover,
.navigation-item .active:focus,
.navigation-item .active:active {
  color: var(--brown-50);
}

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  padding: 0 72px;
  margin: 0;
  list-style: none;
  min-height: 56px;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-item {
  width: 25%;
  text-align: left;
}

.navigation-item:nth-child(4n + 3),
.navigation-item:nth-child(4n + 4) {
  text-align: right;
}
/* header */

/* main home page*/

.main-background {
  position: relative;
  background-image: url(../img/main-background-photo.jpg);
  background-color: var(--blue-120);
  width: 1200px;
  height: 509px;
}

.main-background::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/main-background-text.svg);
  width: 457px;
  height: 351px;
  z-index: 1;
}

.main-background::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/main-background-decor.svg);
  width: 1200px;
  height: 57px;
  z-index: 1;
}

.intro {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 51px;
  padding-left: 359px;
  padding-right: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  padding: 0;
  margin: 0;
}

.intro-text {
  line-height: 26px;
  margin-top: 49px;
  margin-bottom: 0;
}

.features-list .wide-block {
  background-color: var(--blue-50);
  grid-column-start: 1;
  grid-column-end: -1;
}

.wide-block .item-title,
.wide-block .item-number,
.wide-block .item-text {
  color: var(--white);
}

.item-title {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
}

.item-number {
  display: inline-block;
  color: var(--black);
  margin-top: 25px;
}

.item-text {
  color: var(--black);
  margin-bottom: 0;
  margin-top: 23px;
}

.feature-item.grey {
  background-color: var(--grey-120);
  padding-top: 47px;
  padding-bottom: 54px;
  padding-left: 73px;
  padding-right: 65px;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
  margin: 0;
}

.search-text {
  line-height: 24px;
  margin-top: 39px;
  margin-bottom: 0;
}

.button {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brown-50);
}

.search-button {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 30px;
  margin-top: 50px;
  box-sizing: border-box;
}

.search {
  text-align: center;
  padding-top: 57px;
}

.decoration-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.decoration-text {
  width: 400px;
  padding-right: 49px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 54px;
  box-sizing: border-box;
}

.decoration-picture {
  background-color: var(--blue-50);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 800px;
  min-height: 256px;
}

.picture-right {
  background-image: url("../img/background-city.jpg");
  background-color: var(--green-50);
}

.picture-left {
  background-image: url("../img/background-bridge.jpg");
  background-color: var(--brown-50);
  order: -1;
}

.icon-house::before,
.icon-food::before,
.icon-souvenir::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.icon-house::before {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
}

.icon-food::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.icon-souvenir::before {
  background-image: url("../img/icon-souvenir.svg");
  width: 64px;
  height: 77px;
}

.advantages-item {
  padding-top: 160px;
  text-align: center;
  padding-bottom: 82px;
  padding-left: 73px;
  padding-right: 52px;
}

.advantages-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-text {
  margin-top: 25px;
  margin-bottom: 0;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 568px;
  padding: 55px;
  box-sizing: border-box;
  background-color: var(--white);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form,
.date-picker,
.counter {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.counter,
.date-picker {
  background-color: var(--grey-50);
}

.date-picker {
  width: 346px;
  min-height: 38px;
  text-transform: uppercase;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  box-sizing: border-box;
}

.counter {
  width: 114px;
  border: none;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
}

.calendar {
  position: absolute;
  display: inline-block;
  border: none;
  right: 7px;
  top: 7px;
}

.guests {
  position: relative;
}

.minus,
.plus {
  position: absolute;
  border: none;
  top: 0px;
  width: 38px;
  height: 38px;
  background-color: var(--grey-50);
}

.plus {
  right: 0px;
}

.minus {
  left: 111px;
}

.search-form .button-find {
  width: 100%;
  font-size: 21px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--blue-50);
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  text-transform: uppercase;
  margin-top: 54px;
}

.button-find:active {
  color: var(--transparent-white);
}

.form-icon {
  fill: var(--grey-350);
}

.minus:hover svg,
.plus:hover svg {
  fill: var(--black);
}

.minus:active svg,
.plus:active svg {
  fill: var(--blue-50);
}

.field-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 29px;
  margin-bottom: 0;
}

.field-wrapper:first-child {
  margin-top: 0;
}

.field-guests {
  width: 50%;
}

.counter.adults {
  margin-right: 4px;
}

.guests.children {
  margin-left: 53px;
}

.field-wrapper button {
  padding: 0;
}
/* main home page*/

/* main hotels page*/
.results-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  margin: 0;
  margin-right: 45px;
}

.filter {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  margin-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.filter-name {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: none;
  margin-right: 32px;
}

.filter-name:hover {
  color: var(--blue-50);
}

.filter-name:active {
  color: var(--black);
}

.filter-name.active,
.filter-name.active:hover,
.filter-name.active:focus,
.filter-name.active:active {
  color: var(--blue-50);
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.hotel-link:hover {
  color: var(--blue-50);
}

.hotel-link:active {
  color: var(--transparent-black);
}

.button:hover {
  background-color: var(--brown-100);
}

.button:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}

.button-about {
  background-color: var(--blue-50);
}

.button-about:hover {
  background-color: var(--blue-100);
}

.button-about:active {
  background-color: var(--blue-150);
}

.hotel-rating {
  color: var(--grey-400);
  background-color: var(--grey-50);
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 15px;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 29px;
}

.filter-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.hotels-item {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 23px;
  padding-bottom: 30px;
  border-top: 1px solid var(--grey-150);
}

.hotels-item:last-child {
  border-bottom: 1px solid var(--grey-150);
}

.hotel-info p,
.footer-contacts p,
.footer-copyright p {
  margin: 0;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin-left: 8px;
}

.hotels-list {
  padding: 0;
  margin-top: 31px;
}

.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}

.hotel-stars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

.hotel-description {
  display: flex;
  flex-wrap: wrap;
}

.hotels-name {
  width: 100%;
  margin: 0;
}

.image-link {
  margin-right: 29px;
}

.button-about,
.button-booking {
  padding-top: 3px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 17px;
  margin-top: 10px;
}

.hotel-info .hotel-text {
  margin-top: 6px;
}

.sort-up,
.sort-down {
  position: relative;
  font-size: 0;
}

.sort-up::after,
.sort-down::after {
  position: absolute;
  left: -13px;
  top: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.sort-up::after {
  border-bottom: 11px solid var(--grey-200);
}

.sort-down::after {
  border-top: 11px solid var(--grey-200);
}

.sort-down.active::after {
  border-top-color: var(--blue-50);
}

.sort-up:hover::after {
  border-bottom-color: var(--black);
}

.sort-up:active::after {
  border-bottom-color: var(--blue-50);
}

.sort-up {
  margin-right: 25px;
}

.stars-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
}

.stars-item {
  width: 19px;
  height: 17px;
  margin-right: 6px;
  background-image: url(../img/star.svg);
}

.stars-item:last-child {
  margin-right: 0;
}

.hotel-info .hotel-rating {
  margin-top: 47px;
}

.range-filter {
  width: 316px;
}

.name-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.range-controls .scale {
  height: 2px;
  background-color: var(--transparent-white);
  margin-top: 20px;
}

.range-controls .bar {
  width: 87%;
  height: 2px;
  background-color: var(--white);
}

.range-controls {
  position: relative;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--grey-250);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--transparent-white);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 260px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 27px;
  padding-left: 72px;
  padding-right: 73px;
  padding-bottom: 31px;
  box-sizing: border-box;
  background-image: url(../img/background-hotels.jpg);
  min-height: 217px;
}

.filter-group {
  width: 25%;
}

.filter-group,
.filter-price {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-price {
  width: 50%;
  margin: 0;
  padding: 0;
  padding-left: 210px;
  border: none;
  box-sizing: border-box;
}

.group-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--white);
}

.price-controls {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 2px;
  margin-top: 10px;
  width: 316px;
  height: 36px;
}

.group-item {
  margin-top: 24px;
  padding-left: 42px;
}

.price-controls input {
  background: none;
  border: none;
  color: var(--white);
  width: 50px;
}

.price-controls label {
  color: var(--white);
}

.min-price,
.max-price {
  width: 50%;
  padding-left: 60px;
}

.price-controls:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--white);
  left: 158px;
}

.button-hotels {
  display: block;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 35px;
  padding-left: 35px;
  border: 1px solid var(--white);
  width: 137px;
  background: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
}

.group-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
}

.filter-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
}

.filter-checkbox:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-checkbox:disabled:checked + label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
  width: 27px;
}

.range-controls .toggle:hover {
  transform: scale(1.2);
}

.button-hotels:hover {
  background-color: var(--white);
  color: var(--black);
}
/* main hotels page*/

/* footer */
.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  list-style: none;
  padding-top: 23px;
  padding-bottom: 36px;
  margin: 0;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.telephone a {
  color: var(--black);
  text-decoration: none;
}

.footer-contacts .telephone {
  margin-top: 9px;
}

.text-copyright {
  line-height: 26px;
  color: var(--black);
}

.logo-image:hover {
  fill: var(--blue-50);
}

.logo-image:active {
  fill: var(--grey-270);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-item {
  margin-right: 5px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue-50);
}

.social-button:hover {
  background-color: var(--blue-100);
}

.social-button:active {
  background-color: var(--blue-150);
}

.social-button:active svg {
  opacity: 0.3;
}
/* footer */
