:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --blue-50: #81b3d2;
  --blue-100: #669ec0;
  --blue-150: #5496bd;
  --brown-50: #766357;
  --brown-100: #604e43;
  --brown-150: #503e33;
  --grey-50: #f2f2f2;
  --grey-100: #ebebeb;
  --grey-120: #eeeeee;
  --grey-150: #e5e5e5;
  --grey-200: #cacaca;
  --grey-250: #ababab;
  --grey-270: #bdbbbc;
  --grey-300: rgba(171, 171, 171, 0.3);
  --grey-350: #a9a9a9;
  --grey-380: #888888;
  --grey-400: #666666;
  --grey-450: #6a6a6a;
  --grey-500: #333333;
  --grey-550: #231f20;
  --grey-600: rgba(0, 1, 1, 0.15);
}

.page {
  height: 100%;
}
.page-body {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--grey-500);
  text-transform: uppercase;
  background-color: var(--grey-50);
}

.page-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header */
.navigation-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.navigation-item a:hover {
  color: var(--blue-50);
}

.navigation-item a:active {
  color: var(--transparent-black);
}

.navigation-item .active,
.navigation-item .active:hover,
.navigation-item .active:focus,
.navigation-item .active:active {
  color: var(--brown-50);
}

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  padding: 0 72px;
  margin: 0;
  list-style: none;
  min-height: 56px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.navigation-item {
  width: 25%;
  text-align: left;
}

.navigation-item:nth-child(4n + 3),
.navigation-item:nth-child(4n + 4) {
  text-align: right;
}
/* header */

/* main home page*/

.main-background {
  position: relative;
  background-image: url(../img/main-background-photo.jpg);
  width: 1200px;
  height: 509px;
}

.main-background::after {
  content: "";
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/main-background-text.svg);
  width: 456.65px;
  height: 350.88px;
  z-index: 1;
}

.intro {
  text-align: center;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  background-color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  padding-bottom: 33px;
}

.intro-text {
  line-height: 26px;
  margin-bottom: 51px;
}

.features-list .wide-block {
  background-color: var(--blue-50);
  grid-column-start: 1;
  grid-column-end: -1;
}

.wide-block .item-title,
.wide-block .item-number,
.wide-block .item-text {
  color: var(--white);
}

.item-title {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

.item-number {
  color: var(--black);
}

.item-text {
  color: var(--black);
}

.feature-item.grey {
  background-color: var(--grey-120);
  padding-top: 47px;
  padding-bottom: 54px;
}

.feature-item.grey:nth-child(1n) {
  padding-left: 96px;
  padding-right: 97px;
}

.feature-item.grey:nth-child(2n) {
  padding-left: 70px;
  padding-right: 69px;
}

.feature-item.grey:last-child {
  padding-left: 77px;
  padding-right: 76px;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.search-text {
  line-height: 24px;
  margin-bottom: 51px;
}

.button {
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brown-50);
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  padding-left: 125px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 124px;
}

.search {
  text-align: center;
  margin-top: 58px;
  margin-bottom: 30px;
}

.decoration-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.decoration-text {
  width: 400px;
  padding-right: 51px;
  padding-left: 51px;
  box-sizing: border-box;
}

.decoration-picture {
  background-image: url("../img/background-city.jpg");
  background-color: var(--blue-50);
  background-repeat: no-repeat;
  width: 800px;
  height: 256px;
}

.wide-block:nth-child(2) .decoration-picture {
  background-image: url("../img/background-bridge.jpg");
  background-color: var(--blue-50);
  background-repeat: no-repeat;
  order: -1;
  width: 800px;
  height: 256px;
}

.wide-block:nth-child(2) .decoration-text {
  padding-right: 49px;
  padding-left: 50px;
  box-sizing: border-box;
}

.icon-house::before,
.icon-food::before,
.icon-souvenir::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.icon-house::before {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
}

.icon-food::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.icon-souvenir::before {
  background-image: url("../img/icon-souvenir.svg");
  width: 64px;
  height: 77px;
}

.advantages-item {
  padding-top: 160px;
  text-align: center;
  padding-bottom: 82px;
}

.advantages-title {
  position: relative;
}

.advantages-item:nth-child(1) {
  padding-left: 73px;
  padding-right: 73px;
}

.advantages-item:nth-child(2) {
  padding-left: 51px;
  padding-right: 52px;
}

.advantages-item:nth-child(3) {
  padding-left: 65px;
  padding-right: 65px;
}
/* main home page*/

/* main hotels page*/
.results-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  margin: 0;
  margin-right: 45px;
}

.filter {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  margin-right: 40px;
}

.filter-name {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: none;
  margin-right: 32px;
}

.filter-name:hover {
  color: var(--blue-50);
}

.filter-name:active {
  color: var(--black);
}

.filter-name.active,
.filter-name.active:hover,
.filter-name.active:focus,
.filter-name.active:active {
  color: var(--blue-50);
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.hotel-link:hover {
  color: var(--blue-50);
}

.hotel-link:active {
  color: var(--transparent-black);
}

.button:hover {
  background-color: var(--brown-100);
}

.button:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}

.button-about {
  background-color: var(--blue-50);
}

.button-about:hover {
  background-color: var(--blue-100);
}

.button-about:active {
  background-color: var(--blue-150);
}

.hotel-rating {
  color: var(--grey-400);
  background-color: var(--grey-50);
}

.filter-wrapper {
  display: flex;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px;
}

.filter-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.hotels-item {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-info p,
.footer-contacts p,
.footer-copyright p {
  margin: 0;
}

.hotels-list {
  padding: 0;
}

.hotel-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 900px; /*написала примерно*/
}

.hotel-stars {
  display: flex;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

.hotel-description {
  display: flex;
  flex-wrap: wrap;
}

.hotels-name {
  width: 100%;
  margin: 0;
}

.image-link {
  margin-right: 29px;
}
/* main hotels page*/

/* footer */
.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  list-style: none;
  min-height: 120px;
  padding: 0;
  margin: 0;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.telephone a {
  color: var(--black);
  text-decoration: none;
}

.text-copyright {
  line-height: 26px;
  color: var(--black);
}

.logo-image:hover {
  fill: var(--blue-50);
}

.logo-image:active {
  fill: var(--grey-270);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.social-item {
  margin-right: 5px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue-50);
}

.social-button:hover {
  background-color: var(--blue-100);
}

.social-button:active {
  background-color: var(--blue-150);
}

.social-button:active svg {
  opacity: 0.3;
}
/* footer */
